.visualizer-container {
  width: 100%;
  max-width: 800px;
  margin: 0 auto 30px;
  border: 1px solid var(--dark);
  background: var(--black);
}

.visualizer-canvas {
  display: block;
  width: 100%;
  height: auto;
}
